<div>
	<div>
		<b>First Name:&nbsp;$FN</b><br/>
		<b>Last Name:&nbsp;$LN</b><br/>
		<b>Email:&nbsp;$EM</h3><br/>
		<b>Birth Date:&nbsp;$BD</b>
	</div>
	<div>
		$SONGS
	</div>
	<div style='margin-top:5px;'>
		NOTE: DO NOT REPLY TO THIS EMAIL. THIS IS JUST THE CONFIRMATION.<br/> 

		To change your selection follow this link(<a href='http://www.tisarana.org/karaoke/?a=s'>http://www.tisarana.org.au/karaoke/?a=s</a>)
	</div>	
</div>	
