body {
	text-align: center;
}

div#content {
	width: 90%;
	display: inline-block;
    text-align: left; 
}

div#main {
	background: #dbffdb;
	border-radius: 10px;
	box-shadow: 10px 10px 5px #888;
	-moz-box-shadow: 10px 10px 5px #888;
	-webkit-box-shadow: 10px 10px 5px #888;
}

div.page-head {
	font-size: 20;
	text-align: left;
	//background: #009999; 
	//color: #ffffff;
	padding-top: 5px;
	padding-bottom: 5px;	
	margin-bottom: 5px;
}

div#title {
//	color: #ffffff;
}

div#control {
	padding-top: 3px;
	padding-bottom: 3px;
	margin-top: 1px;
}

div#command {
	padding-bottom: 5px;
}

div#msg {
	background:	#ff1919;
	padding-top: 3px;
	padding-bottom: 3px;
}

div#song {
	margin-top: 10px;
}

table.topten tr td {
	border : 1px solid black;
}
